<% layout('admin/layout') -%>
<div class="icon-bar five-up label-right" role="navigation">
    <a href="/" class="item" role="button" tabindex="0" aria-label="home">
        <i class="fi-home"></i>
        <label>博客</label>
    </a>
    <a href="/admin/topic/list" class="item" role="button" tabindex="0" aria-label="Bookmark">
        <i class="fi-list-thumbnails"></i>
        <label>文章列表</label>
    </a>
    <a href="/admin/topic/edit" class="item" role="button" tabindex="0" aria-label="Information">
        <i class="fi-page-edit"></i>
        <label>新建文章</label>
    </a>
    <a href="/admin/setting" class="item" role="button" tabindex="0" aria-label="Mail">
        <i class="fi-widget"></i>
        <label>设置</label>
    </a>
    <a href="/admin/persProf" class="item" role="button" tabindex="0" aria-label="Like">
        <i class="fi-torso"></i>
        <label>个人信息</label>
    </a>
</div>