<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Blog管理</title>
    <link rel="stylesheet" href="/foundation/css/normalize.css">
    <link rel="stylesheet" href="/foundation/css/foundation.css">
    <link rel="stylesheet" href="/foundation/img/foundation-icons.css"/>
    <!--自定义样式-->
    <link rel="stylesheet" href="/stylesheets/admin/signup.css"/>
    <script src="/foundation/js/vendor/modernizr.js"></script>
</head>
<body>
    <%-body -%>
    <script src="/foundation/js/vendor/jquery.js"></script>
    <script src="/foundation/js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>