<% layout('admin/layout') -%>
<% include ./admin.html %>
<div class="page-content">
    <section class="topic-list-wrap">
        <header class="floatingheader">
            <section class="topic-filter">
                <small>所有文章</small>
            </section>
            <a  class="btn btn-new" href="/admin/topic/edit" title="新建文章"><i class="fi-plus"></i><span class="hidden">新建文章</span></a>
        </header>
        <section class="topic-list">
        </section>
    </section>
    <section class="topic-preview">

    </section>
</div>