<% layout('admin/layout') -%>
<div class="center">
    <form action="/signin" method="post">
        <fieldset>
            <legend>登录</legend>
            <div class="row">
                <div class="large-12 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-3 columns">
                            <span class="prefix">邮箱：</span>
                        </div>
                        <div class="small-9 columns">
                            <input type="email" placeholder="请输入邮箱" name="email">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-3 columns">
                            <span class="prefix">密码：</span>
                        </div>
                        <div class="small-9 columns">
                            <input type="password" placeholder="请输入密码" name="password">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input type="submit" class="medium button green" value="登录">
                </div>
            </div>
        </fieldset>
    </form>
</div>
