<% layout('admin/layout') -%>
<div class="center">
    <form action="">
        <fieldset>
            <legend>登录</legend>
            <div class="row">
                <div class="large-12 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-3 columns">
                            <span class="prefix">邮箱：</span>
                        </div>
                        <div class="small-9 columns">
                            <input type="text" placeholder="请输入邮箱">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-3 columns">
                            <span class="prefix">密码：</span>
                        </div>
                        <div class="small-9 columns">
                            <input type="text" placeholder="请输入密码">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <button type="submit" class="medium button green">登录</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
