<% layout('admin/layout') -%>
<div class="center">
    <form action="">
        <fieldset>
            <legend>注册</legend>
            <div class="row">
                <div class="large-12 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-3 columns">
                            <span class="prefix">用户名：</span>
                        </div>
                        <div class="small-9 columns">
                            <input type="text" placeholder="请输入用户名">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-3 columns">
                            <span class="prefix">邮箱：</span>
                        </div>
                        <div class="small-9 columns">
                            <input type="text" placeholder="请输入邮箱地址">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-3 columns">
                            <span class="prefix">密码：</span>
                        </div>
                        <div class="small-9 columns">
                            <input type="text" placeholder="请输入大于六位的密码">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-3 columns">
                            <span class="prefix">再次密码：</span>
                        </div>
                        <div class="small-9 columns">
                            <input type="text" placeholder="请再次输入密码">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <button type="submit" class="medium button green">注册</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>