<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>harvey-he.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/reset.css"/>
    <link rel="stylesheet" href="/stylesheets/font.css"/>
    <link rel="stylesheet" href="/stylesheets/layout.css"/>
    <!--index style-->
    <link rel="stylesheet" href="/stylesheets/index.css"/>
    <link rel="stylesheet" href="/stylesheets/archive.css"/>
</head>
<body>
<%-body -%>
</body>
</html>