<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>harvey-he.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/reset.css"/>
    <link rel="stylesheet" href="/stylesheets/layout.css"/>
    <!--index style-->
    <link rel="stylesheet" href="/stylesheets/index.css"/>
</head>
<body>
    <div class="sideNav">
        <div class="avatar">
            <img src="/images/avatar.png" height="100px" width="100px">
        </div>
        <h1>HarveyHe's Blog</h1>
        <h3>HTML/CSS/Javascript/NodeJs</h3>
        <nav>
            <ul>
                <li>
                    <a href="#">首页</a>
                </li>
                <li>
                    <a href="#">归档</a>
                </li>
                <li>
                    <a href="#">项目</a>
                </li>
                <li>
                    <a href="#">关于</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main">
        <%- body %>
    </div>
</body>
</html>