<div class="sideNav">
    <div class="avatar">
        <img src="/images/avatar.png">
    </div>
    <h2>Harvey He</h2>
    <hr class="divider long">
    <h4>
        关于Harvey的一切
        <br>
        HTML\CSS\Javascript\NodeJs
        <br>
        前端工程师，关注无线端开发，工程化
        <br>
        业余时间，捣鼓APP开发、Python、Java
        <br>
        喜欢户外、篮球、阅读、电影、摇滚
    </h4>
    <hr class="divider short">
    <nav>
        <ul>
            <li>
                <a href="/">首页</a>
            </li>
            <li>
                <a href="/archive">归档</a>
            </li>
            <li>
                <a href="/project">项目</a>
            </li>
            <li>
                <a href="/about">关于</a>
            </li>
        </ul>
    </nav>
    <div class="social-icons">
        <a href="https://github.com/Harvey-he" class="icon icon-github-circled"></a>
        <a href="https://cn.linkedin.com/pub/he-harvey/6b/9b/b14/en" class="icon icon-linkedin"></a>
        <a href="https://plus.google.com/u/0/112018862870531877072/" class="icon icon-gplus"></a>
        <a href="https://www.facebook.com/harvery.he" class="icon icon-facebook"></a>
        <a href="https://twitter.com/Harvey_wanli" class="icon icon-twitter"></a>
        <a href="/rss" class="icon icon-rss"></a>
    </div>
</div>